@model HogwartsPotions.Models.Entities.IngredientListView

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js" ></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/form.css"/>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</head>
<body>
<div class="background-container" style="background-image: url(/images/potioncreate.jpg);">
    <h4>Potion</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Ingredients" class="control-label"></label><br/>
                    <select asp-for="Ingredients" class="form-control" multiple="multiple">
                        @foreach (var ing in ViewBag.Ingredients) {
                            <option value="@ing.Name">@ing.Name, </option>
                        }
                    </select>

                    <span asp-validation-for="Ingredients" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
</body>
</html>
<script type="text/javascript">

    $('option').mousedown(function(e) {
        e.preventDefault();
        if ($(this).prop('selected') === false) 
        {
            if($('select').val().length === 5) 
            {
                return false;
            }
        }
        var originalScrollTop = $(this).parent().scrollTop();
        $(this).prop('selected', $(this).prop('selected') ? false : true);
        var self = this;
        $(this).parent().focus();
        setTimeout(function() {
            $(self).parent().scrollTop(originalScrollTop);
        }, 0);
    
        return false;
    });
</script>

@section Scripts {

   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
