@model HogwartsPotions.Models.Entities.Potion

@{
    ViewData["Title"] = "Delete";
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js" ></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/form.css"/>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</head>
<body>
<div class="background-container delete-site" style="background-image: url(/images/openbook.jpg);">
    <h1 class="edit-h1">Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Potion</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BrewingStatus)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BrewingStatus)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="login-button button-55" /> |
            <a asp-action="Index" class="login-button button-55">Back to List</a>
        </form>
    </div>
</div>
</body>